/* reset */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video, input {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

.text ol {
	margin: 0 0 0 20px;
	list-style-type: decimal;
}

a {
	outline: none;
	text-decoration: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/**** globals ****/

html, body {
	width: 100%;
}

body {
	height: 100%;
	background: #F2EFEB url(../images/body-bg.png) 0 0 repeat-x;
	font: 14px 'Lato', Arial, Helvetica, sans-serif;
	color: #666;
}

img {
	display: block;
}

a {
	color: #333;
}

.clear {
	display: block!important;
	clear: both!important;
	float: none!important;
	width: 100%!important;
	padding: 0!important;
	margin: 0!important;
	height: 1px;
	overflow: hidden;
}

.hidden {
	display: none!important;
}

b, strong {
	font-weight: bold;
}

i, em {
	font-style: italic;
}

h1, h2, h3, h4, h5, h6 {
	color: #010101;
	font-weight: bold;
}

h1, .h1 {
	font-size: 22px;
	font-weight: normal;
	line-height: 24px;
}

h2, h3 {
	font-size: 16px;
}

.sp {
	color: #E83785;
}

.sp-bg {
	background: #E83785;
}

.f-left {
	float: left;
}

.f-right {
	float: right;
}

.floated {
	position: relative;
}

.floated:after {
	content: "\00A0";
	display: block;
	clear: both;
	width: 100%;
	height: 1px;
	overflow: hidden;
}

canvas {
	top: 0;
}

.no-java {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	display: block;
	height: 20px;
	padding: 10px 0;
	text-align: center;
	background: #FFF;
	color: #F00;
	z-index: 999;
}
/** curves **/

.c3 {
	border-radius: 3px;
	-moz-border-radius: 3px;
}

.c4 {
	border-radius: 4px;
	-moz-border-radius: 4px;
}

.c5 {
	border-radius: 5px;
	-moz-border-radius: 5px;
}

.c6 {
	border-radius: 6px;
	-moz-border-radius: 6px;
}

.c7 {
	border-radius: 7px;
	-moz-border-radius: 7px;
}

.c8 {
	border-radius: 8px;
	-moz-border-radius: 8px;
}

.c10 {
	border-radius: 10px;
	-moz-border-radius: 10px;
}

.c15 {
	border-radius: 15px;
	-moz-border-radius: 15px;
}

/** structure **/

.container {
	position: relative;
	margin: 0 auto;
	max-width: 960px;
	width: 100%;
}

.header {
	position: relative;
	min-height: 180px;
	height: auto;
	width: 100%;
	/**min-width: 1000px;**/
	background: url(../images/header-bg.png) 0 0 repeat-x #000;
}

#resi-nav{
	display: none;
}

.footer {
	position: relative;
	height: 130px;
}

/** columns **/

.column1-center {
	margin: 0 auto;
}

.column1-center.new-client {
	width: 439px;

}

.column1-center.clients, .column1-center.securities {
	width: 994px;
}

.column2-left {
	float: left;
	padding: 0 0 0 25px;
	width: 212px;
}

.column2-right {
	float: left;
	margin: 0 0 0 22px;
	width: 676px;
}

#contact-us .column2-left {
	padding: 0;
	width: 497px;
}

#contact-us .column2-right {
	width: 417px;
}

#about-us .column2-left, #terms-and-conditions .column2-left, #privacy .column2-left {
	padding: 0;
	width: 606px;
	max-width: 100%;
}

#about-us .column2-right {
	width: 282px;
	margin-left: 42px;
}

#home .column2-left {
	float: left;
	padding: 0;
	width: 640px;
}

#home .column2-right {
	float: left;
	margin: 0 0 0 1px;
	width: 316px;
}

#home .twitter_feed{
	padding: 0 20px 0 25px;
	max-height: 400px;
	overflow: scroll;
}

/** header **/

.header-logo {
	/**position: absolute;
	top: 42px;
	left: 12px;**/
	float: left;
	margin-top: 40px;
	margin-left: 0;
}

.header-contact {
	position: absolute;
	top: 5px;
	right: 0;
	padding: 33px 20px 0 40px;
	height: 47px;
	background: url(../images/header-contact-bg.png) 0 0 no-repeat;
	color: #FFF;
	font-size: 16px;
	text-shadow: 1px 1px #0F3C62;
}

.header-contact span {
	color: #FC0;
	font-weight: bold;
}

.navigation a {
	position: relative;
	display: block;
}

.navigation#top {
	/**position: absolute;
	right: 0;
	top: 95px;**/
	height: 40px;
	color: #FFF;
	float: right;
	margin-top: 95px;
}

.navigation#top > li {
	position: relative;
	float: left;
	margin: 0 4px 0 4px;
	background: url(../images/navigation-top-li-bg.png) 0 0 no-repeat;
}

.navigation#top > li.dropdown > a, .navigation#top > li.dropdown.active:hover > a {
	border-radius: 4px 4px 0 0;
}

.navigation#top > li.dropdown.active > a {
	border-radius: 4px;
}

.navigation#top > li > a {
	padding: 2px 16px 0;
	height: 24px;
	border-radius: 4px;
	color: #FFF;
	font-size: 16px;
	text-align: center;
}

.navigation#top li.dropdown > a span {
	display: block;
	padding: 0 20px 0 0;
	background: url(../images/dropdown-arrow.png) 100% 7px no-repeat;
}

.navigation#top li.dropdown.active > a span {
	background-image: url(../images/dropdown-arrow-hover.png);
}

.navigation#top li.dropdown.active:hover > a span {
	background-image: url(../images/dropdown-arrow.png);
}

.navigation#top > li:hover > a, .navigation#top > li.active:hover > a {
	background: #6B6B6B;
	color: #FFF;
}

.navigation#top > li.dropdown:hover > a {
	/**height: 37px;**/
}

.navigation#top > li.active > a {
	background: #FC0;
	color: #333;
	font-weight: bold;
}

.navigation#top ul {
	position: absolute;
	/**top: 39px;**/
	left: 0;
	display: none;
	padding: 5px 11px;
	background: #6B6B6B;
	border-radius: 0 4px 4px;
	z-index: 100;
}

.navigation#top > li:hover > ul {
	display: block;
}

.navigation#top ul li {
	border-top: 1px solid #7F7D7D;
}

.navigation#top ul li.first {
	border: none;
}

.navigation#top ul li a {
	padding: 5px 0 4px;
	width: 157px;
	color: #FFF;
	font-size: 13px;
}

.navigation#top ul li:hover {
	background: #444;
}
/** splash **/

.splash {
	width: 100%;
	height: 323px;
	background: #333;
}

.splash-inner {
	position: relative;
	padding: 0 29px;
	height: 100%;
	background: #6B6B6B;
	overflow: hidden;
}

#next, #prev {
	position: absolute;
	top: 50%;
	display: block;
	margin-top: -27px;
	width: 43px;
	height: 55px;
	background: url(../images/slider-np.png) 0 0 no-repeat;
	text-indent: -5000px;
	z-index: 99;
}

#next {
	right: 17px;
	background-position: -43px 0;
}

#prev {
	left: 17px;	
}

.splash-list {
	border-bottom: 1px solid #4E4F52;
}

.caption-wrap {
	position: absolute;
	bottom: 0;
	width: 100%;
	background: url(../images/splash-caption-bg.png) 0 0 repeat-x;
	z-index: 99;
}

.caption {
	display: block;
	padding: 15px 20px 0;
	height: 35px;
	color: #FC0;
	font-size: 16px;
	font-weight: bold;
}

.caption span {
	color: #FFF;
}

/** content **/

.content {
	padding: 35px 2px 30px;
	background: url(../images/content-bg.png) 0 0 repeat-y;
}

#home .content {
	background-image: url(../images/home-content-bg.png);
	padding: 0 2px 40px
}

.text p {
	line-height: 22px;
}

.text a {
	text-decoration: underline;
}

.text ul li {
	padding: 3px 0 6px 26px;
	background: url(../images/ul-li-bg.png) 0 0 no-repeat;
}

.thumbnail {
	display: block;
	padding: 3px;
	border: 1px solid #CCC;
}

.thumbnail img {
	display: block;
}

/** home **/

.text.home, .services.home, .case-study.home {
	float: left;
	margin: 40px 0 0;
	padding: 0 25px 0 20px;
	width: 270px;
	border-right: 1px dotted #DBDBDB;
}

.case-study.home {
	width: 271px;
	margin-bottom: 20px;
}

.services.home, .case-study.home {
	border: none;
	padding: 0 20px 0 25px;
}

.text.home h1,.text.home p, .text.home ul, .services.home h2, .case-study.home h2, .case-study.home p {
	margin: 0 0 20px;
}

.services.home li {
	margin: 0 0 27px;
}

.services.home h2, .case-study.home h2 {
	font-size: 22px;
	font-weight: normal;
	line-height: 24px;
}

.services.home .icon {
	display: block;
	float: left;
	margin: 0 15px 0 0;
}

.services.home .info {
	float: left;
}

.services.home .info h3 a, .services.home .info .more {
	color: #333;
	font-weight: bold;
}

.services.home .info p {
	width: 207px;
}

.case-study.home h3 {
	margin: 0 0 10px;
}

.case-study.home h3 a {
	color: #666;
}

.case-study.home .thumbnail {
	float: right;
	margin: 0 0 10px 20px;
}

.button {
	display: inline-block;
	*display: inline;
	padding: 10px 12px 0;
	height: 27px;
	background: #FC0;
	font-weight: bold;
	text-decoration: none!important;
	zoom: 1;
}

/** services **/

.text.single {
	padding: 0 20px 10px;
}

.service-list {
	padding: 0 0 0 20px;
}

.service-list li {
	float: left;
	margin: 57px 0 0 30px;
	width: 285px;
}

.service-list li.first {
	margin-left: 0;
}

.service-list li.top {
	margin-top: 40px;
}

.service-list h2 {
	margin: 0 0 15px;
	font-size: 16px;
	font-weight: normal;
}

.service-list .thumbnail {
	float: left;
	margin: 0 20px 10px 0;
}

.service-list p {
	font-size: 15px;
}

.service-list .more {
	display: block;
	margin: 15px 0 0;
	font-weight: bold;
}

#case-studies .service-list .more {
	margin-top: 5px;
}

#side-services li {
	width: 214px;
}

#side-services li:hover, #side-services li.active {
	background: url(../images/side-services-hover-bg.png) 100% 1px no-repeat;
}

#side-services a {
	padding: 1px;
	width: 198px;
	border-color: #D8D7D7;
	border-style: solid;
	border-width: 0 1px 1px 1px;
}

#side-services li.first a {
	border-top-width: 1px;
}

#side-services li:hover a, #side-services li.active a {
	border-right: none;
}

#side-services li a span {
	display: block;
	padding: 7px 0 0 15px;
	height: 27px;
	border-left: 6px solid #DDDCDB;
	background: url(../images/side-services-a-bg.png) 0 0 repeat-x;
	font-size: 16px;
}

#side-services li:hover a span, #side-services li.active a span {
	border-color: #FC0;
}

.contact-us {
	margin: 55px 0 0;
	padding: 0;
	width: 195px;
}

.contact-us p {
	font-size: 22px;
	line-height: 30px;
}

.contact-us p span {
	display: block;
	color: #000;
}

.contact-us .button {
	margin: 15px 0 0;
}

.gallery {
	margin: 0 0 25px;
	padding: 3px;
	width: 669px;
	height: 259px;
	border: 1px solid #CCC;
}

#services .gallery li {
	top: 3px!important;
}

#services .text.main, #case-studies .text.main {
	padding: 0;
	border-bottom: 1px dashed #D6D6D6;
}

.text.main h2 {
	font-size: 16px;
}

.text.main h1 {
	margin: 0 0 22px;
}

.text.single h1 {
	margin: 0 0 18px;
}

.text.main h2 {
	margin: 0 0 13px;
}

.text.main p, .text.main ul {
	margin: 0 0 25px;
}

.related-case-studies {
	margin: 33px 0 0;
}

.related-case-studies h2 {
	margin: 0 0 24px;
}

.related-case-studies li {
	float: left;
	margin: 0 0 0 35px;
	width: 297px;
	list-style: none;
}

.related-case-studies li.first {
	margin: 0;
}

.related-case-studies .thumbnail {
	float: left;
	margin: 0 18px 0 0; 
}

.related-case-studies a {
	color: #666;
}

#case-studies .service-list p {
	font-size: 14px;
}

#case-studies .service-list p span {
	display: block;
	color: #333;
	font-weight: bold;
}

/** case studies **/

.featured {
	margin: 10px 20px 0 20px;
	/*width: 909px;*/
	/*height: 308px;*/
}

.featured:after{
	content: '';
	display: block;
	clear: both;
}

.featured .description {
	float: left;
	width: 35%;
	height: 308px;
	border: 1px solid #CCC;
	border-right: none;
	background: url(../images/featured-description-bg.png) 0 0 repeat-y;
	background-size: 100%;
	box-sizing: border-box;
}

.featured .description a {
	text-decoration: none;
}

.featured .description h2, .featured .description h3 {
	font-size: 22px;
	font-weight: normal;
}

.featured .description h2 a {
	color: #666;
}

.featured .description h3 {
	margin: 0 0 21px;
}

.featured .description .text {
	margin: 35px 0 30px;
	padding: 0 17px 0 27px;
}

.featured .description .button {
	margin: 0 0 0 23px;
}

.featured .label {
	position: absolute;
	right: 3px;
	top: 3px;
	min-height: auto!important;
	width: 134px!important;
	height: 134px!important;
}

.featured .image{
	width: 65%;
	height: 308px;
	float: left;
}

.featured .image a {
	position: relative;
	float: left;
	display: block;
	padding: 3px;
	border: 1px solid #CCC;
	box-sizing: border-box;
	max-width:100%;
}

.featured .image a img{
	max-width: 100%;
	min-height: 300px;
}

.case-study-index {
	margin: 0 0 5px;
	padding: 9px 0 0 14px;
	width: 186px;
	height: 29px;
	background: url(../images/cs-index-bg.png) 0 0 repeat-x;
	color: #FFF;
	font-size: 16px;
	font-weight: normal;
}

#side-case-studies {
	width: 200px;
}

#side-case-studies > li > span {
	display: block;
	padding: 7px 0 0 14px;
	height: 26px;
	border-bottom: 1px dashed #F5F5F5;
	background: url(../images/cs-index-li-bg.png) 182px 0 no-repeat;
	color: #101010;
	cursor: pointer;
}

#side-case-studies > li.active > span {
	background-position: 182px -33px;
}

#side-case-studies > li > ul {
	margin: 0 0 0 16px;
}

#side-case-studies > li.active > ul {
	display: block;
}

#side-case-studies > li > ul a {
	display: block;
	padding: 4px 0 3px 12px;
	color: #666;
}

#side-case-studies > li > ul a:hover, #side-case-studies > li > ul a.active {
	background: #F0EEEE;
}

#side-case-studies > li > ul a span {
	color: #FC0;
}

#case-studies .gallery {
	position: relative;
	margin: 0 0 7px;
	height: 300px;
}

#case-studies .gallery img {
	position: absolute;
	top: 3px;
	left: 3px;
}

.thumbnails {
	margin: 0 0 35px;
	height: auto;
}

.thumbnails:after{
	content: '';
	display: block;
	clear: both;
}

.thumbnails li {
	float: left;
	margin: 0 0 0 15px;
	padding: 14px 4px 4px 5px;
	background: url(../images/thumbnail-li-bg.png) 0 0 no-repeat;
}

.thumbnails li.active {
	background-position: 0 -93px;
}

.thumbnails li.first {
	margin: 0;
}

/** about **/

#about-us .column2-right a {
	display: block;
	margin: 0 0 25px;
	padding: 3px;
	width: 274px;
	height: 274px;
	border: 1px solid #CCC;
}

.column2-left .text.main {
	padding: 0 0 0 25px;
}

/** form **/

form {
	padding: 0;
}

label {
	color: #666;
}

.input-text {
	display: block;
	margin: 5px 0 10px;
	padding: 6px 4px;
	width: 405px;
	border: 1px solid #CFCFCF;
	border-radius: 1px;
	background: #F1F1F1;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
}

textarea.input-text {
	height: 102px;
}

.input-submit {
	float: right;
	padding: 0 12px;
	height: 37px;
	background: #FC0;
}

/** footer **/

.footer {
	width: 100%;
	height: 200px;
	background: url(../images/footer-bg.png) 0 100% repeat-x;
	color: #333;
	line-height: 22px;
}

.footer-inner {
	padding: 33px 2px 0;
	height: 97px;
	background: url(../images/footer-inner-bg.png) 0 0 no-repeat;
}

.footer .info {
	float: left;
	padding: 0 92px 0 20px;
}

.footer .address {
	float: left;
	padding: 0 0 0 25px;
}

.footer .logos {
	float: right;
	margin: -10px 25px 0 0;
}

/** color box **/

#colorbox,
#cboxOverlay,
#cboxWrapper {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 9999;
	overflow: hidden;
}
#cboxOverlay {
	position: fixed;
	width: 100%;
	height: 100%;
}
#cboxMiddleLeft,
#cboxBottomLeft { clear: left }
#cboxContent { position: relative }
#cboxLoadedContent { overflow: auto }
#cboxTitle { margin: 0 }
#cboxLoadingOverlay,
#cboxLoadingGraphic {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}
#cboxPrevious,
#cboxNext,
#cboxClose,
#cboxSlideshow { cursor: pointer }
.cboxPhoto {
	float: left;
	margin: auto;
	border: 0;
	display: block;
}
.cboxIframe {
	width: 100%;
	height: 100%;
	display: block;
	border: 0;
}
/* 
	User Style:
	Change the following styles to modify the appearance of ColorBox.  They are
	ordered & tabbed in a way that represents the nesting of the generated HTML.
*/
#cboxOverlay { background: #000 }
#colorbox { }
#cboxContent {
	margin-top: 32px;
	overflow: visible;
}
#cboxError {
	padding: 50px;
	border: 1px solid #ccc;
}
#cboxLoadedContent {
	background: #FFF;
	padding: 1px;
}
#cboxLoadingGraphic { background: url(../images/loading.gif) no-repeat center center }
#cboxLoadingOverlay { background: #000 }
#cboxTitle {
	position: absolute;
	top: -22px;
	left: 0;
	color: #000;
}
#cboxCurrent {
	position: absolute;
	top: -22px;
	right: 205px;
	text-indent: -9999px;
}

#cboxSlideshow,
#cboxPrevious,
#cboxNext,
#cboxClose {
	text-indent: -9999px;
	width: 20px;
	height: 20px;
	position: absolute;
	top: -20px;
	border-radius: 5px 5px 0 0;
	background: url(../images/controls.png) no-repeat 0 0;
}
#cboxPrevious {
	background-position: 0px 0px;
	right: 42px;
}
#cboxPrevious:hover { background-position: 0px -25px }
#cboxNext {
	background-position: -25px 0px;
	right: 21px;
}
#cboxNext:hover { background-position: -25px -25px }
#cboxClose {
	background-position: -50px 0px;
	right: 0;
}
#cboxClose:hover { background-position: -50px -25px }
.cboxSlideshow_on #cboxPrevious,
.cboxSlideshow_off #cboxPrevious { right: 66px }
.cboxSlideshow_on #cboxSlideshow {
	background-position: -75px -25px;
	right: 44px;
}
.cboxSlideshow_on #cboxSlideshow.hover { background-position: -100px -25px }
.cboxSlideshow_off #cboxSlideshow {
	background-position: -100px 0px;
	right: 44px;
}
.cboxSlideshow_off #cboxSlideshow.hover { background-position: -75px -25px }
.desktop-hide {display:none}

@media screen and (max-width: 1000px){
	.navigation#top{
		margin-top: 0;
		height: 0;
		visibility: hidden;
		opacity: 0;
	}
	.navigation.open#top{
		height: auto;
		visibility: visible;
		opacity: 1;
		clear: both;
		float: none;
		display: block;
		margin: 0 auto;
		padding: 20px 0;
	}
	.header-logo{
		margin-top: 60px;
		margin-left: 20px;
		width: 300px;
		height: auto;
	}
	.drop-trig > span{
		height: 24px;
	}
	.navigation.open#top > li{
		float: none;
		clear: both;
		background: none;
	}
	.navigation#top ul li:first-child{
		border: none;
	}
	.desktop-hide{
		border-bottom: 1px solid #7f7d7d!important;
	}
	#resi-nav{
		cursor: pointer;
		display: block;
		height: 30px;
		width: 30px;
		background: url(../images/resi.png) no-repeat 0 0;
		background-size: 30px, 30px;
		position: absolute;
		top: 90px;
		right: 20px;
	}
	.navigation#top > li{
		margin: 10px 20px;
	}
	.desktop-hide {display:block}
	.navigation#top ul {position: relative; top: 0; left: 0; display: none;padding: 5px 11px;background: #6B6B6B;}
	.navigation#top > li.dropdown:hover > a {height:auto;border-radius:4px;}
	.navigation#top > li:hover > ul { display: none;}
	.navigation#top ul.open-sub {display:block;}
	.navigation#top > li:hover > ul.open-sub { display: block;}
	.navigation#top a{
		width: auto!important;
	}
	.navigation#top a span{
		padding: 0!important;
	}
	.splash-inner{
		padding: 0;
	}
}
@media screen and (max-width: 960px){
	.content.container, .footer-inner{
		box-sizing: border-box;
		background: none;
		background-color: #fff;
	}
	.footer-inner{
		height: auto;
		padding: 0;
		margin: 30px 2%;
		width: 96%;
		overflow: hidden;
		padding: 20px 0;
	}
	.footer .info{
		padding: 0;
		padding-left: 20px;
	}
	.footer .logos{
		margin: 0;
		padding-right: 20px;
		float: right;
	}
	#home .container{
		background-image: none;
	}
	#home .column2-left{
		width: 96%;
		margin: 0 2%;
	}
	#home .home{
		padding: 0;
	}
	#home .column2-left .text{
		padding-right: 2.5%;
		width: 50%;
	}
	#home .column2-left .services{
		margin-left: 2.5%;
		width: 47.5%;
	}
	#home .column2-right{
		margin-left: 2%;
		margin-right: 2%;
		width: 96%;
	}
	#home .column2-left .text, #home .column2-left .services{
		box-sizing: border-box;
	}
	.service-list{
		margin: 20px 2%;
		padding: 0;
	}

	.service-list:after{
		content: '';
		display: block;
		clear: both;
	}
	.service-list li{
		margin: 0!important;
		width: 50%!important;
		float: left!important;
		box-sizing: border-box;
		padding-right: 10px;
		padding-bottom: 10px!important;
	}
	.service-list li:after{
		content: '';
		display: block;
		clear: both;
	}
	.service-list .clear{
		display: none!important;
	}
	#case-studies .column2-left{
		padding: 0;
		margin: 0 2%;
		width: 96%;
	}
	#case-studies .column2-left .case-study-index{
		width: 100%;
		text-align: center;
		padding: 9px 0 0 0;
	}
	#case-studies .column2-left #side-case-studies{
		width: 100%;
	}
	#case-studies .column2-left #side-case-studies li span{
		padding-left: 0;
		text-align: center;
		background-position: 35% 0;
	}

	#side-case-studies > li > span {
		border-bottom: 1px dashed #666;
	}

	#case-studies .column2-left #side-case-studies li ul{
		margin-left: 0;
	}
	#case-studies .column2-left #side-case-studies li ul {
		text-align: center;
	}
	#case-studies .column2-right{
		margin: 0 2%;
		width: 96%;
	}
	.contact-us{
		width: auto;
		margin: 30px 0;
	}
	.contact-us p{
		text-align: center;
	}
	#case-studies .button, #services .button{
		margin: 15px auto;
		padding: 10px 7px;
		display: block;
		width: 135px;
		height: auto;
		float: none;
		text-align: center;
	}
	.gallery{
		box-sizing: border-box;
		width: 100%;
		height: auto!important;
		display: block;
	}
	.gallery img:nth-child(2){
		display: none;
	}
	.gallery:after{
		content: '';
		display: block;
		clear: both;
	}
	.gallery img{
		width: 100%;
		position: relative!important;
		top: 0!important;
		left: 0!important;
	}
	.related-case-studies li{
		width: 50%;
		float: left;
		margin: 0;
	}
	.related-case-studies li:last-child{
		width: 45%;
		margin-left: 5%;
	}
	.column2-left{
		padding: 0;
		margin: 0 2%;
		width: 96%;
	}
	#about-us .column2-left .text{
		padding: 0;
	}
	.column2-right{
		margin: 0 2%;
		width: 96%;
	}
	#services .gallery.cycle{
		height: 267px!important;
		width: 677px;
		margin: 0 auto 20px;
		overflow: hidden;
	}
	#services .gallery.cycle li{
		left: 3px;
		top: 3px;
		right: 3px;
		bottom: 3px;
	}
	#contact-us .text{
		padding-left: 0;
	}
}
@media screen and (max-width: 800px){
	.header-contact{
		background-color: #FC0;
		background-image: none;
		width: 100%;
		top: 0;
		left: 0;
		padding: 5px 0;
		height: auto;
		text-align: center;
	}
	.header-contact p, .header-contact span{
		color: #888;
		text-shadow: none;
	}
	.header-contact span{
		color: #666;
	}
	.column2-left, .column2-right, .column1-center{
		padding: 0!important;
		margin: 0;
		width: 96%!important;
		margin: 0 2%!important;
	}
	.text.main, .single, .featured{
		padding-left: 0!important;
		padding-right: 0!important;
	}
	.single, .featured{
		padding: 0!important;
		margin: 0;
		width: 96%!important;
		margin: 0 2%!important;
	}
	#home .column2-left .text, #home .column2-left .services{
		clear: both;
		width: 100%;
		padding: 0;
		margin-left: 0;
		border: 0;
	}
	.services.home li {
		float: left;
		width: 50%;
	}
	.featured{
		margin: 20px auto!important;
		width: 500px!important;
	}
	.featured .description{
		width: 500px;
		height: auto;
		padding-bottom: 20px;
	}
	.featured .image{
		width: 500px;
	}
	.featured .image a{
		width: 100%;
		overflow: hidden;
		height: 308px;
	}
	.featured .image a img{
		width: 100%;
		height: auto;
	}
	.service-list li{
		clear: both;
		margin: 0 auto!important;
		float: none!important;
		width: 100%!important;
		padding: 0;
	}
	#services .gallery.cycle{
		height: 198px!important;
		width: 500px;
	}
}
@media screen and (max-width: 600px){
	.footer{
		height: 250px;
	}
	.header-logo{
		margin-top: 65px;
		margin-left: 20px;
		width: 260px;
		height: auto;
	}
	.footer .info{
		clear: both;
		margin: 0 auto;
		float: none;
		display: block;
		text-align: center;
		padding: 0;
		margin-bottom: 20px;
	}
	.footer .logos{
		clear: both;
		margin: 0 auto;
		float: none;
		padding: 0;
	}
	.input-text{
		width: 100%;
		box-sizing: border-box;
	}
	.services.home li {
		width: 100%;
		clear: both;
	}
	.featured{
		width: 300px!important;
	}
	.featured .description{
		width: 300px;
	}
	.featured .image{
		width: 300px;
		height: auto;
	}
	.featured .image a{
		height: 205px;
	}
	.featured .image a img{
		min-height: 200px;
	}

	.related-case-studies li{
		width: 100%!important;
		float: left;
		margin: 10px 0!important;
	}
	#home .column2-right .twitter_feed{
		width: 100%;
		padding: 0;
	}

	#about-us .modal{
		margin: 20px auto!important;
	}
}
@media screen and (max-width: 550px){
	#services .gallery.cycle{
		width: 280px;
		height: 113px!important;
	}
}

.table {width:100%; overflow-x:scroll; margin:0 0 20px;}
.table table {width:100%; }
.table table th {width:100%; font-size: 13px; line-height: 22px; font-weight:bold; margin: 0 0 10px; background:#eee; border:1px solid #1d1d1b; padding:10px}
.table table td {width:100%; font-size: 13px;line-height: 22px;word-wrap: break-word; margin: 0 0 10px;padding:10px; border:1px solid #1d1d1b}
.table table th:first-child {width:20%}
.table table th:nth-child(2) {width:20%}
.table table th:nth-child(3) {width:60%}
.table table td:first-child {width:20%}
.table table td:nth-child(2) {width:20%}
.table table td:nth-child(3) {width:60%}

.cookie-notice {position: fixed;bottom: 0;left: 0;width: 100%;z-index: 9999;background-color: #e6e6e6;text-align: center;padding: 0;display: none;}
.cookie-notice p{padding: 5px 45px;margin: 7px 0;}
.cookie-notice p a {text-decoration: underline}
.cookie-notice .c-agree {position: absolute;top: 16px;right: 20px;width: 15px;height: 15px;display: block;cursor: pointer;}
.cookie-notice .c-agree:after, .cookie-notice .c-agree:before{content: '';display: block;position: absolute;top: 50%;left: 50%;margin-top: -1px;margin-left: -7.5px;width: 15px;height: 2px;background-color: #575757;}
.cookie-notice .c-agree:before{-webkit-transform: rotate(-45deg);transform: rotate(-45deg);}
.cookie-notice .c-agree:after{-webkit-transform: rotate(45deg);transform: rotate(45deg);}

@media screen and (max-width: 380px){
	
	.table table {width:500px}
	
}